.navBar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  width: 100%;
  transform: translateY(0);
  left: 0;
  top: 0;
  transition: all 0.2s ease-in;
  z-index: 10;
}

.searchInput {
  height: 23px;
  width: 200px;
  margin: 0 0.8rem;
  background-color: white;
  border: 2px;
  border-color: white;
  border-style: solid;
  color: black;
}

.navBarLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
  width: 50%;
  background-color: grey;
}
.navBarRight {
  height: 100%;
  width: 50%;
  background-color: grey;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.links {
    display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
    flex-basis: 90%;
}
.activeLink {
  margin-left: 1rem;
}

