.sideBar {
  width: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  height: 100%;
  transform: translateY(0);
  left: 0;
  top: 13rem;
  transition: all 0.2s ease-in;
  z-index: 10;
}
.categories {
  display: flex;
  flex-direction: column;
}