.blog {
  height: 400px;
  width: 100%;
  background-color: grey;
  margin-top: 2rem;
}

.blogTop {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}

.blogHeader {
  width: 50%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: row;
}
.blogHeaderDesc {
  display: flex;
  flex-direction: column;
}
.blogActions {
  width: 50%;
  height: 100%;
}

.blogBody {
  width: 100%;
  height: 60%;
  background-color: grey;
}
.blogImg {
  height: 100px;
  width: 100px;
  margin: 0.5rem;
}
/* .button {
  background-color: grey;
  height: 10px;
} */