.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  margin-top: 10rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  width: 90%;
  background-color: white;
  z-index: 3;
  top:6rem;
  left: 7rem;
}
.msgs{
  padding: 2rem;
}
.lower {
  position: relative;
}
.postsList{
  position: absolute;
  left: 7rem;
  top:1rem;
  z-index: 2;

}